<!-- <section>
  <article>
    <header><h1> Interpolação / Interpolation</h1> </header>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{1+1}}</p>
    <p>Resultado de 1 + 1 não é = {{1+1+getvalor()}}</p>
    <p>Curso de Angular e gosto do curso: {{cursoAngular && getCurtirCurso()}}</p>
  </article>

  <article>
    <h3>Property bindning</h3>
    <img src="{{ urlImagem }}"> <br>
    <img [src]="urlImagem">
  </article>

  <article>
    <h3> Class e Style binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      <div class="alert {{ classe.value }}"  role="alert" >Texto colorido de acordo com o valor do combobox.</div>
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

      <br>
      <div class="alert alert-danger" style="display:none" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto só aparece em caso de erro.
      </div>
    </div>
  </article>
</section>

<section class="event-binding">
  <article>
    <h3>Event binding</h3>
    <div>
      <button (click)="onClick()">Me clique!</button>

      <br><br>

      <input type="text" #campo 
        (keyup)="onKeyUp($event)" 
        (keyup.enter)="onSave(campo.value)" 
        (blur)="onSave(campo.value)">

      <div> Conteúdo Atual: {{ conteudoAtual }}</div>
      <div> Conteúdo Salvo: {{ conteudoSalvo }}</div>

      <br><br>

      <span 
        (mouseover)="onMouseSpan()"
        (mouseout)="onMouseSpan()"
        [class.highlight]="isMouseOver">
        Passe o mouse sobre mim!
      </span>
    </div>
  </article>


</section> -->

<!-- <section class="two-way data-binding">
  <article>
    <h3>Two-way Data-binding</h3>
    <div>
      <input type="text" 
        [value]="nome"
        (input)="nome = $event.target.value" />

      <input type="text" 
        [ngModel]="nome"
        (ngModelChange)="nome = $event" />
      
      <input type="text" 
        [(ngModel)]="nome"
         />

      <p>Você digitou {{ nome }}</p>
    </div>

    <div>
        Nome: <input type="text" 
          [(ngModel)]="pessoa.nome"
         />
        
         <br>

        Idade: <input type="text" 
          [(ngModel)]="pessoa.idade"
         /> 
         <br><br><br>

        Meu nome é {{ pessoa.nome }} <br>
        Minha idade é {{ pessoa.idade }}
    </div>

  </article>
</section> -->

<section class="input-properties">
  <article>
    <h3>Input / Output Properties</h3>
    <curso nome="Angular 2"></curso>
    <app-contador valor="10" (mudouValor)="onValorMudou($event)"></app-contador>
  </article>

</section>